@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --split-left-background: rgba(84, 87, 235, 0.6);
  --split-right-background: rgb(43, 43, 43, 0.6);
  --left-btn--hover-color: rgba(84, 87, 235, 0.8);
  --right-btn--hover-color: rgb(43, 43, 43, 0.9);
  --hover-width: 75%;
  --hover-width-other: 25%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
}

.container {
  background: rgba(255 255 255 /1);
  padding: 4rem 3rem;
  width: 80rem;
  max-width: 100%;
  border-radius: 1.5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5rem 2rem;
}
.container h3 {
  text-align: center;
  font-weight: 700;
  font-size: 3.4rem;
  opacity: 0.5;
  margin: 0;
  letter-spacing: 0.2rem;
}
.container .joke {
  margin: 5rem auto;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  max-width: 600px;
}
.container .btn {
  border: 0;
  background: rgb(9, 9, 121);
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 6px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 4rem;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 2.5rem;
  transition: all 0.5s;
  position: relative;
}
.container .btn:where(:focus) {
  outline: 0;
}
.container .btn:hover {
  background: rgba(0, 212, 255, 1);
  background: radial-gradient(
    circle,
    rgba(0, 212, 255, 1) 35%,
    rgba(9, 9, 121, 1) 100%
  );
}
.container .btn:not(:disabled):active {
  scale: 0.98;
}
.btn:disabled {
  cursor: not-allowed;
  user-select: none;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 0.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px rgba(9, 9, 121, 1);
  border-bottom-color: rgba(0, 212, 255, 1);
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  left: calc(50%);
  top: calc(50%);

  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
